**/.idea
**/.venv2
**/.venv
**/__pycache__
**/Extras
**/1992
**/1991
**/1990
**/1989
**/1988
**/1987
**/1986
**/1985
**/1984
**/1983
**/1982
**/main_Version anterior.py
**/.env
**/Analisis_R
**/certs
**/app.log
**/database/elporteno_backup.sql
